html{scroll-behavior: smooth;}
body{
  line-height: 1.5;
  color: #333;
}

.goto-top{
  position: fixed;
  right: 20px;
  bottom: 70px;
  font-size: 18px;
  padding: 2px 5px 2px;
  border: 3px solid #2D4A3E;
  color: #607c64;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 1;
}
.goto-bottom{
  position: fixed;
  right: 20px;
  bottom: 20px;
  font-size: 18px;
  padding: 2px 5px 2px;
  border: 3px solid #2D4A3E;
  color: #607c64;
  border-radius: 10px;
  background-color: #ffffff;
  z-index: 1;
}
.goto-bottom i{
  transform: translateY(1px);
}

/* Header */
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background: transparent;
  transition: background-color 0.3s ease;
}
header.header-white {
  background-color: #fff;
}

#sub-main>.brand{
  width: 100%;
  height: 300px;
  /* margin-top: 170px; */
  background:linear-gradient(#DCE7E1ad, #216e44aa), url(../image/main_brand.jpg) no-repeat center/cover;
}
#sub-main>.menu{
  width: 100%;
  height: 300px;
  /* margin-top: 170px; */
  background:linear-gradient(#DCE7E1ad, #484848aa), url(../image/main_tea.png) no-repeat center/cover;
}
#sub-main>.news{
  width: 100%;
  height: 300px;
  /* margin-top: 170px; */
  background:linear-gradient(#DCE7E1ad, #216e44aa), url(../image/main_new.png) no-repeat center/cover;
}
#sub-main>.partner{
  width: 100%;
  height: 300px;
  /* margin-top: 170px; */
  background:linear-gradient(#DCE7E1ad, #216e44aa), url(../image/main_partner.png) no-repeat center/cover;
}
#sub{
  background-color: #DCE7E1;
}
#sub>.section-inner, #sub2>.section-inner{
  width: 100%;
  padding: 50px;
}
.section-inner h1{
  margin: 0 100px;
}

/* Footer */
footer{
  width: 100%;
  font-family: 'NanumSquareRound';
  color: #fff;
  background-color: #2B211C;
}