.header-inner{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
}
nav{
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex:4;
}
.gnb{
  width: 70%;
  display: flex;
	justify-content: space-around;
  font-size: 20px;
}
.gnb .main{
  position: relative;
  width: 150px;
  text-align: center;
}
.gnb>.main>a{
  display: block;
  width: inherit;
  height: 60px;
	font-weight: 500;
  box-sizing: border-box;
  line-height: 60px; 
  color:#fff;
  transition: 0.5s;
}
.gnb>.main:hover>a{
  background-color: #607c64;
}
.logo{
  transition: 0.5s;
}
.logo a{
  display: block;
  width: 130px;
  height: 130px;
  margin: 20px;
  background: url(../image/logo_w.png) center/cover;
  transition: 0.5s;
}
.logo a:hover{
  border-radius: 50%;
  background-image: url(../image/logo.png);
}
.sub {
	display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
	background: #fff;
}
.sub li{
  position: relative;
  display: flex;
  width: 150px;
  height: 50px;
  justify-content: center;
  align-items: center;
  transition: 1s;
}
.sub li>a {
  display: block;
  width: inherit;
  height: 50px;
	font-weight: 500;
  box-sizing: border-box;
  line-height: 50px; 
	font-size: 18px;
}
.sub li:hover {background:#2D4A3E;}
.sub li:hover a{color: #fff;}